.rules {
    display: flex;
    flex-direction: column;
    width: 80%;
    @media screen and (max-width: 768px){
        width: 100%;
    }
    
    h2 {
    padding: 10px 15px;
    background: var(--main-color);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0px;
    }
}



.content-definition {
    display: none;
    padding: 0px 10px;
    background: rgba(246, 246, 246, 0.45);
    border-radius: 5px;
    font-size: 18px;
    animation: fadeIn 0.3s ease-in-out;
}

.content-definition.open {
    display: block;
}

.arrow {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
    margin-left: 10px;

    &.open {
    transform: rotate(0deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
