body {
    margin: auto;
    font-family: "Montserrat", serif;
    box-sizing: border-box;

}

a {
    color: inherit;
}

img {
    object-fit: cover;
}

ul {
    padding: 0;
}

li {
    list-style: none;    
}  